{{#if this.comments}}
    <div class="article-comments">
        <h3>Comments</h3>
        {{#each this.comments}}
        <div class="comment" data-id="{{this._id}}">
            <h4>{{this.title}}</h4>
            <p>{{this.body}}</p>
            <small>By {{this.author}} on {{this.time}}</small>
        </div>
        {{/each}}
    </div>
{{/if}}