<h2>{{title}}</h2>
<br>
{{#unless articles}}
    {{#unless bookmarks}}
        <div class="card mb-4">
            <div class="card-body">There are no articles pulled. <a href="/scrape">Scrape for articles</a>?</div>
        </div>
    {{/unless}}
{{/unless}}
{{#each articles}}
<div class="card mb-4" data-id="{{this._id}}">
    <figure class="article-image">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
    </figure>
    <div class="card-body">
        <h2 class="card-title">{{this.title}}</h2>
        <a href="{{this.link}}" target="_blank" class="btn btn-primary">Open Article</a>
        <a href="/save/{{this._id}}" class="btn btn-primary save-article">Save for Later</a>
        {{>_comment-form}}
        {{>_comments}}
    </div>
    <div class="card-footer text-muted">
        Posted by {{this.byline}}
    </div>
</div>
{{/each}}